html {
    overflow: hidden;
    text-shadow:
        -1.0px -1.0px 0 #000,
        1.0px -1.0px 0 #000,
        -1.0px 1.0px 0 #000,
        1.0px 1.0px 0 #000;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: transparent !important;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.progress-container {
    display: none;
    z-index: 5;
    color: #fff;
    width: 18.5%;
    position: fixed;
    bottom: 12.65%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.progress-labels {
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    position: absolute;
    display: inline-block;
    white-space: nowrap;
}

.progress-labels div {
    font-size: 15px;
    line-height: 40px;
    position: relative;
    color: #ffffff;
    z-index: 10;
    text-transform: uppercase;
}

.progress-bar-container {
    width: 100%;
    height: 40px;
    background: rgba(0, 0, 0, 0.4);
    text-align: left;
    overflow: hidden;
    position: relative;
    display: block;
    white-space: nowrap;
}

.progress-bar {
    background-color: rgba(0, 0, 0, 0.6);
    width: 0%;
    height: 40px;
    transition: width 0.3s;
    transition-timing-function: ease-out;
}