html {
    overflow: hidden;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: transparent !important;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

#notifications {
    position: absolute;
    top: 50%;
    left: 1.5%;
}

#notificationsList {
    position: relative;
    top: -50%;
}

.notification {
    background-color: rgba(0, 128, 0, 0.4);
    border-left: 5px solid rgb(0, 128, 0);
    margin-bottom: 5px;
    padding: 3px 12px;
    color: white;
}

.notification.remove {
    background-color: rgba(128, 0, 0, 0.4);
    border-left: 5px solid rgb(128, 0, 0);
}